<h2>EF Core Scaffold Command Generator</h2>
<div class="main-container">
  <div class="result-container">
    <textarea
      id="result-textarea"
      readonly
      class="app-control"
      [ngModel]="generatedCommand"
    ></textarea>
    <div class="actions-container">
      <button class="app-control" (click)="onCopyToClipboard()">Copy to clipboard</button>
      <button class="app-control" (click)="onClearForm()">Clear</button>
    </div>
  </div>
  <form class="settings-form" [formGroup]="fg">
    <fieldset>
      <legend>Basic properties</legend>
      <div class="form-group">
        <select type="text" required id="tool" class="app-control" formControlName="tool">
          <option value="pmc">Package Manager Console (Visual Studio)</option>
          <option value="cli">EF Core CLI</option>
        </select>
        <label for="tool">Tool:</label>
      </div>
      <div class="form-group">
        <input
          type="text"
          required
          id="connection-string"
          class="app-control"
          formControlName="connectionString"
        />
        <label for="connection-string">Connection string:</label>
      </div>
      <div class="form-group">
        <input type="text" required id="provider" class="app-control" formControlName="provider" />
        <label for="provider">Provider:</label>
      </div>
      <div class="form-group">
        <input
          type="checkbox"
          name="use-annotations"
          id="use-annotations"
          class="app-control"
          formControlName="useAnnotations"
        />
        <label for="use-annotations">Use annotations?</label>
      </div>
      <div class="form-group">
        <input
          type="checkbox"
          name="use-database-names"
          id="use-database-names"
          class="app-control"
          formControlName="useDatabaseNames"
        />
        <label for="use-database-names">Use database names?</label>
      </div>
      <div class="form-group">
        <input
          type="checkbox"
          name="use-force"
          id="use-force"
          class="app-control"
          formControlName="useForce"
        />
        <label for="use-force">Force?</label>
      </div>
    </fieldset>
    <fieldset>
      <legend>Output</legend>
      <div class="form-group">
        <input
          type="text"
          id="context-name"
          required
          class="app-control"
          formControlName="contextName"
        />
        <label for="context-name">Context name:</label>
      </div>
      <div class="form-group">
        <input
          type="text"
          id="context-dir"
          required
          class="app-control"
          formControlName="contextDir"
        />
        <label for="context-dir">Context output directory:</label>
      </div>
      <div class="form-group">
        <input
          type="text"
          id="output-dir"
          required
          class="app-control"
          formControlName="outputDir"
        />
        <label for="output-dir">Output directory:</label>
      </div>
    </fieldset>
    <fieldset>
      <legend>Schemas/Tables</legend>
      <div class="form-group">
        <input type="text" id="schemas" class="app-control" formControlName="schemas" />
        <label for="schemas">Schemas <small>(comma separated)</small>:</label>
      </div>
      <div class="form-group">
        <input type="text" id="tables" class="app-control" formControlName="tables" />
        <label for="tables">Tables <small>(comma separated)</small>:</label>
      </div>
    </fieldset>
  </form>
</div>
