* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fdfdfd;

  @media screen and (max-width: 600px) {
    margin: 16px;
  }
}

#toast-container > .ngx-toastr {
  &.toast-success,
  &.toast-error {
    background-color: black;
  }
}
